/* CSS by Quentin LACHET
BTS SIO School year 2019-2020
at Louise-Michel High School */

/* Main elements */

@font-face  /* Permet l'ajout d'une police inconnue / téléchargé */
{
  font-family: 'DoctorWho42';
  src:url("assets/fonts/DrWho42.ttf");
}

body
  {
    background-image: url("assets/images/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100%;
  }

.wrapper
{
  width: 100%;
  height: 100%;
  overflow: hidden; /* Cache la barre de défilement */
}

.page_block
  {
    height:100%;
    overflow: hidden; /* Cache la barre de défilement */
    border-radius: 10px; /* Arrondis les coins de la div */
    text-align:center;
    padding: 10px;
    position:relative;
    background-image: url("assets/images/divbg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

h1
  {
    text-align:center;
    color: #ffffff;
    font-family: DoctorWho42, serif;
  }

header p
  {
    text-align: center;
    color: #ffffff;
    font-family: DoctorWho42, serif;
    font-size: 20px;
  }

a[href^="mailto:"],a[href]
{
  color: #ffffff;
}

section p, footer p, .page_block p
{
  text-align:center;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

img.logo2
  {
    border-radius: 50%;
    width:100px;
    margin-left: auto; /* Rajoute de l'espace à l'intérieur de la div, ces deux lignes permettent de centrer l'image automatiquement*/
    margin-right: auto; /* Rajoute de l'espace à l'intérieur de la div, ces deux lignes permettent de centrer l'image automatiquement*/
    display: block;
  }

img.logo_torchwood
  {

    width:300px;
    margin-left: auto; /* Rajoute de l'espace à l'intérieur de la div, ces deux lignes permettent de centrer l'image automatiquement*/
    margin-right: auto; /* Rajoute de l'espace à l'intérieur de la div, ces deux lignes permettent de centrer l'image automatiquement*/
    display: block;
  }

ul
{
  text-align:center;
  color: #ffffff;
}

/* Form */

form
{
  color: #ffffff
}

/* Header */

.main_title
  {
    border-radius: 10px; /* Arrondis les coins de la div */
    margin-bottom: 30px; /* Rajoute de l'espace en bas à l'intérieur de la div */
    background-size: cover;
    background: url("assets/images/bgheader.jpg") no-repeat center center;
    padding: 10px; /* Rajoute de l'espace à l'extérieur de la div */
  }

img.logo1
  {
    border-radius: 50%; /* Arrondis les coins de la div */
    padding: 5px; /* Rajoute de l'espace à l'extérieur de la div */
    width: 150px;
    margin-left: auto; /* Rajoute de l'espace à l'intérieur de la div, ces deux lignes permettent de centrer l'image automatiquement*/
    margin-right: auto; /* Rajoute de l'espace à l'intérieur de la div, ces deux lignes permettent de centrer l'image automatiquement*/
    display: block;
  }

/* Navigation */

.nav2
{
  padding: 10px; /* Rajoute de l'espace à l'extérieur de la div */
  float:left;
  font-family: DoctorWho42, serif;
  font-size: 20px;
  border-radius: 10px; /* Arrondis les coins de la div */
  margin-right: 30px; /* Rajoute de l'espace à droite à l'intérieur de la div*/
  background-image:url("assets/images/divbg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.nav2 ul
  {
    list-style: none;
  }

.nav2 a
{
  color: #ffffff;
  text-decoration: none; /* Enlève les décorations du texte (soulignement si lien...)*/
  padding-bottom: 3px; /* Rajoute de l'espace en bas à l'extérieur de la div */
}

.nav2 a:hover
 {
   color: #99e6ff;
   border-bottom: 3px solid #760001; /* Permet de faire un trait rouge en dessous du lien quand on survole le dit lien */
 }

 .nav2 li a
 {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px; /* Rajoute de l'espace à l'extérieur de la div */
   text-decoration: none; /* Enlève la couleur "violette" quand on a déjà visité un lien */
 }

 .nav
   {
     padding: 30px; /* Rajoute de l'espace à l'extérieur de la div */
     margin: 30px; /* Rajoute de l'espace à l'intérieur de la div*/
     font-family: DoctorWho42, serif;
     font-size: 20px;
     border-radius: 10px; /* Arrondis les coins de la div */
     display: flex;
     justify-content: center; /* Permet de centrer au milieu */
     background-image:url("assets/images/divbg1.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
   }

 .nav ul
   {
     list-style: none; /* Enlève les points des listes*/
     display: flex;
   }

 .nav li
   {
     margin-right: 15px; /* Rajoute de l'espace à droite à l'intérieur de la div*/
   }

 .nav a
   {
     color: #ffffff;
     text-decoration: none; /* Enlève les décorations du texte (soulignement si lien...)*/
     padding-bottom: 3px; /* Rajoute de l'espace en bas à l'extérieur de la div */
   }

 .nav a:hover
   {
     color: #99e6ff;
     border-bottom: 3px solid #760001; /* Permet de faire un trait rouge en dessous du lien quand on survole le dit lien */
   }

 .nav ul
 {
   list-style : none; /* Enlève les points des listes*/
   margin: 0; /* Enlève de l'espace à l'intérieur de la div*/
   padding: 0; /* Enlève de l'espace à l'extérieur de la div */
   overflow: hidden; /* Cache la barre de défilement */

 }

 .nav li
 {
   float: left;
 }

 .nav li a
 {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none; /* Enlève les décorations du texte (soulignement si lien...)*/

 }

 .nav li
 {

   display: inline-block;

 }

/* Footer */

footer
  {
    position:absolute;
    left:0;
    right:0;
    text-align: center;
    border-radius: 20px;
    background-image: url("assets/images/divbg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px; /* Rajoute de l'espace en haut à l'intérieur de la div*/
    padding-bottom: 1px; /* Rajoute de l'espace en bas à l'extérieur de la div */
  }
